 name: CI

on:
  push:
    branches:
      - main
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Chequear el código
      uses: actions/checkout@v2

    - name: Configurar Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '16'  # Cambia la versión según lo que necesites

    - name: Instalar dependencias
      run: npm install

    - name: Ejecutar pruebas
      run: npm test

